# Python
venv/
__pycache__/
*.pyc
.env
.venv/

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/ios/
mobile/android/.gradle/
mobile/android/app/build/
mobile/.idea/
mobile/.metadata
mobile/pubspec.lock

# IDE
.idea/
*.iml

# OS
.DS_Store