<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>История раскладов</title>

    <link rel="stylesheet" href="../static/css/history.css">
</head>
<body>

<div class="container">

    <header class="header">

        <a href="./tarot.html" class="back-btn">
            ←
        </a>

        <h1>История раскладов</h1>

    </header>

    <section class="history-list">

        <div class="history-card"
            data-type="love"
            data-title="Любовный расклад"
            data-question="Что меня ждёт в отношениях?">

            <div class="history-icon">❤️</div>

            <div class="history-info">
                <h3>Любовный расклад</h3>
                <p>31.05.2026</p>
            </div>

        </div>

        <div class="history-card"
            data-type="three"
            data-title="Три карты"
            data-question="Что ждёт меня в ближайшем будущем?">

            <div class="history-icon">🃏🃏🃏</div>

            <div class="history-info">
                <h3>Три карты</h3>
                <p>30.05.2026</p>
            </div>

        </div>

        <div class="history-card">

            <div class="history-icon">
                💼
            </div>

            <div class="history-info">
                <h3>Карьерный расклад</h3>
                <p>28.05.2026</p>
            </div>

        </div>

        <div class="history-card">

            <div class="history-icon">
                🃏
            </div>

            <div class="history-info">
                <h3>Одна карта</h3>
                <p>25.05.2026</p>
            </div>

        </div>

    </section>

</div>
<script src="../static/js/history.js"></script>
</body>
</html>