<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расклад Таро</title>

    <link rel="stylesheet" href="../static/css/spread.css">
</head>
<body>

<div class="container">

    <header class="header">

        <a href="./tarot.html" class="back-btn">
            ←
        </a>

        <h1 id="spreadName">Любовный расклад</h1>

    </header>

    <section class="question-block">

        <h2>Ваш вопрос</h2>

        <p id="spreadQuestion">
            Что меня ждёт в отношениях?
        </p>

    </section>

    <section class="cards-section">

        <h2>Ваши карты</h2>

        <div class="cards">

            <div class="tarot-card">
                <span>🃏</span>
                <p>Карта 1</p>
            </div>

            <div class="tarot-card">
                <span>🃏</span>
                <p>Карта 2</p>
            </div>

            <div class="tarot-card">
                <span>🃏</span>
                <p>Карта 3</p>
            </div>

        </div>

    </section>

    <section class="interpretation">

        <h2>Толкование</h2>

        <p>
            Результат
        </p>

    </section>

</div>
<script src="../static/js/spread.js"></script>i
</body>
</html>